maquetas/snippets/dist/layout-02.html

<!--variables Theme--><!DOCTYPE html>
<!--if lt IE 7html.no-js.lt-ie9.lt-ie8.lt-ie7(lang='es')
-->
<!--if IE 7html.no-js.lt-ie9.lt-ie8(lang='es')
-->
<!--if IE 8html.no-js.lt-ie9(lang='es')
-->
<!-- [if gt IE 8] <!-->
<html class="no-js" lang="es">
  <!-- <![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tienda Online de Celulares y Planes | Movistar Mexico</title>
    <meta name="description" content="Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.">
    <meta name="author" content="Movistar Mexico">
    <!--responsive-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
    <link rel="icon" href="favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
    <link rel="manifest" href="static/favicon/site.webmanifest">
    <link rel="mask-icon" href="static/favicon/safari-pinned-tab.svg" color="#5BC500">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#5BC500">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/animate.css">
    <!--style theme-->
    <link rel="stylesheet" href="static/css/main.css">
    <!--Feature detection to allow you to easily tailor your user's experiences based on the actual capabilities of their browser.-->
    <script src="static/js/vendor/modernizr-2.8.3.min.js"></script>
  </head>
  <body class="theme">
    <!-- [if gt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]
    
    -->
    <header class="head band_shadow">
      <div class="band_brand-2">
        <div class="head-brand band_inner">
          <nav class="menu-brand">
            <ul class="menu-brand__list list-close">
              <li class="menu-brand__item active"><a class="menu-brand__link js-btn__hidden i-a-arrow-back" href="#" title="Particulares">Particulares</a></li>
              <li class="menu-brand__item"><a class="menu-brand__link" href="#" title="Negocios">Negocios</a></li>
              <li class="menu-brand__item"><a class="menu-brand__link" href="#" title="Empresas">Empresas</a></li>
            </ul>
          </nav>
          <nav class="menu-tabs">
            <ul class="menu-tabs__list">
              <li class="menu-tabs__item"><a class="menu-tabs__link i-user i-a-arrow-back js-menuLogin" href="#" title="Mi movistar">Iniciar sesión</a>
                <ul class="submenu-tabs__list js-menuLoginClose">
                  <li class="submenu-tabs__item"><a class="submenu-tabs__link" href="#" title="Link">Mi Movistar</a></li>
                  <li class="submenu-tabs__item"><a class="submenu-tabs__link" href="#" title="Link">Mi Tienda</a></li>
                </ul>
              </li>
              <li class="menu-tabs__item"><a class="menu-tabs__link i-a-cell-recharge" href="#" title="Recargas">Recarga</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="band_neutro band_inner head-cont">
        <div class="head-gral"><a class="head-gral__cell brand" href="/" title="Mi Movistar"><img class="brand__img" src="static/img/brand-movistar-green.svg" alt="Mi movistar"></a>
          <button class="menu-search__btn js-btnSearch i-search-nav" type="button">Buscar</button>
          <nav class="head-gral__cell menu-gral">
            <button class="menu-gral__burger js-menuClose" type="button"><span class="burguer"><span class="burguer_txt">Menú</span></span></button>
            <ul class="menu-gral__list js-menuClose">
              <li class="menu-gral__item js-menuGralClose">
                <button class="menu-gral__link js-menuGralBtn i-arrow-right">Productos y servicios</button>
                <ul class="submenu-gral__list">
                  <li class="submenu-gral__item"><a class="submenu-gral__link link" href="#" title="Planes prepago">Planes prepago</a></li>
                  <li class="submenu-gral__item"><a class="submenu-gral__link link" href="#" title="Prepago">Prepago</a></li>
                  <li class="submenu-gral__item"><a class="submenu-gral__link link" href="#" title="Cámbiate a Movistar">Cámbiate a Movistar</a></li>
                  <li class="submenu-gral__item"><a class="submenu-gral__link link" href="#" title="Internet para casa">Internet para casa</a></li>
                  <li class="submenu-gral__item"><a class="submenu-gral__link link" href="#" title="Roaming Internacional">Roaming Internacional</a></li>
                  <li class="submenu-gral__item"><a class="submenu-gral__link link" href="#" title="Servicios para celulares">Servicios para celulares</a></li>
                </ul>
              </li>
              <li class="menu-gral__item js-menuGralClose">
                <button class="menu-gral__link js-menuGralBtn i-arrow-right">Tienda</button>
                <ul class="submenu-gral__list">
                  <li class="submenu-gral__item"><a class="submenu-gral__link link" href="malla.html" title="Smartphones">Smartphones</a></li>
                  <li class="submenu-gral__item"><a class="submenu-gral__link link" href="#" title="Promociones en línea">Promociones en línea</a></li>
                </ul>
              </li>
              <li class="menu-gral__item js-menuGralClose">
                <button class="menu-gral__link js-menuGralBtn i-arrow-right">Atención al cliente</button>
                <ul class="submenu-gral__list">
                  <li class="submenu-gral__item"><a class="submenu-gral__link link" href="#" title="Centros de Atención al cliente">Centros de Atención al cliente</a></li>
                  <li class="submenu-gral__item"><a class="submenu-gral__link link" href="#" title="Cobertura">Cobertura</a></li>
                </ul>
              </li>
            </ul>
          </nav>
        </div>
        <div class="menu-search js-menuSearchClose">
          <form class="menu-search__form">
            <label class="menu-search__label">Buscar</label>
            <input class="search__input" type="text" placeholder="Ej: iPhone 8 negro" name="search">
            <button class="search__btn i-search" type="submit"></button>
          </form>
        </div>
      </div>
    </header>
    <!-- Site Subnav (Breadcrumbs || detail-sticky)-->
    <!--.band.sticky-->
    <div class="band band_inner">
      <div class="head-callto i-phone">
        <div class="head-callto__box"><span class="head-callto__txt">Llámanos gratis</span><a class="head-callto__txt-bold" href="tel:+1800123456">1-800 123 456</a></div>
        <div class="head-callto__link"><a class="btn btn_blue" href="#" title="Llamar para comprar">Llamarme para comprar</a></div>
      </div>
    </div>
    <main class="content">
      <section class="layout_section">
        <div class="cart-steps">
          <h3 class="cart-steps__title section__head">Carrito de compras</h3>
          <div class="cart-steps__grid">
            <p class="cart-steps__item cart-steps__item_active">Confirmar Productos</p>
            <p class="cart-steps__item cart-steps__item_active">Datos Personales</p>
            <p class="cart-steps__item cart-steps__item_active">Datos de envío</p>
            <p class="cart-steps__item">Pago</p>
          </div>
        </div>
        <div class="layout_inner">
          <div class="data">
            <div class="data__content">
              <h2 class="data__title">Productos, Accesorios y Servicios</h2>
              <p>Contenido paso carrito</p>
            </div>
            <div class="data__aside">
              <div class="data__aside-wrap">
                <div class="data__header">
                  <h2 class="data__title">Datos de compra</h2>
                  <p class="data__subtitle">Orden No. 1423274</p>
                </div>
                <dl class="data__list">
                  <dt class="data__term">Iphone X</dt>
                  <dd class="data__value">$23.499</dd>
                </dl>
                <dl class="data__list">
                  <dt class="data__term">SIM card</dt>
                  <dd class="data__value">$60</dd>
                </dl>
                <dl class="data__list">
                  <dt class="data__term">Recarga</dt>
                  <dd class="data__value">$200</dd>
                </dl>
                <dl class="data__list">
                  <dt class="data__term">Envío</dt>
                  <dd class="data__value">GRATIS</dd>
                </dl>
                <dl class="data__list">
                  <dt class="data__term">Impuestos</dt>
                  <dd class="data__value">$2.300</dd>
                </dl>
                <dl class="data__list">
                  <dt class="data__term">Descuento MX1 = 91</dt>
                  <dd class="data__value">- $2.300</dd>
                </dl>
                <dl class="data__list">
                  <dt class="data__term">Descuento XCQAD</dt>
                  <dd class="data__value">- $2.300</dd>
                </dl>
                <div class="data__form">
                  <div class="input-search">
                    <label class="input-search__label">Escribe tu código de descuento<small class="txt_blue">Puedes agregar más de un cupón</small></label>
                    <input class="input-search__input" type="search" placeholder="Ej: MX1=91">
                    <button class="input-search__btn" type="submit">Aplicar</button>
                  </div>
                </div>
                <dl class="data__list data__summary">
                  <dt class="data__term">Total</dt>
                  <dd class="data__total">$28.350</dd>
                </dl>
                <div class="data__actions">
                  <button class="btn data_btn">Ir a Pagar</button>
                </div>
              </div>
            </div>
          </div>
          <div class="data__info">
            <p class="data__label">Compra segura</p><img src="static/img/logos-compra_segura.png" alt="">
          </div>
        </div>
      </section>
      <div class="band_warm">
        <div class="layout_inner">
          <div class="product-suggested">
            <h3 class="section__head product-suggested__title">Te podría interesar</h3>
            <p class="section__subhead product-suggested__subtitle">Una serie de accesorios para completar tu compra.</p>
            <div class="product-suggested__inner">
              <div class="slider-showcase">
                <ul class="slider-showcase__list">
                  <li class="slider-showcase__slot"><img class="slider-showcase__img" src="static/img/cart-showcase.jpg" alt="Producto sugerido">
                    <div class="slider-showcase__content">
                      <div class="rating">
                        <figure class="rating__stars"><img src="static/img/rating__stars-4.svg" alt="Valoración #1 en el rating"></figure>
                      </div>
                      <p class="slider-showcase__title">Cargador inalámbrico</p><a class="slider-showcase__link i-shopping-car btn" href="#" title="Agregar al carrito">Agregar al carrito</a>
                    </div>
                  </li>
                  <li class="slider-showcase__slot"><img class="slider-showcase__img" src="static/img/cart-showcase.jpg" alt="Producto sugerido">
                    <div class="slider-showcase__content">
                      <div class="rating">
                        <figure class="rating__stars"><img src="static/img/rating__stars-4.svg" alt="Valoración #1 en el rating"></figure>
                      </div>
                      <p class="slider-showcase__title">Cargador inalámbrico</p><a class="slider-showcase__link i-shopping-car btn" href="#" title="Agregar al carrito">Agregar al carrito</a>
                    </div>
                  </li>
                  <li class="slider-showcase__slot"><img class="slider-showcase__img" src="static/img/cart-showcase.jpg" alt="Producto sugerido">
                    <div class="slider-showcase__content">
                      <div class="rating">
                        <figure class="rating__stars"><img src="static/img/rating__stars-4.svg" alt="Valoración #1 en el rating"></figure>
                      </div>
                      <p class="slider-showcase__title">Cargador inalámbrico</p><a class="slider-showcase__link i-shopping-car btn" href="#" title="Agregar al carrito">Agregar al carrito</a>
                    </div>
                  </li>
                  <li class="slider-showcase__slot"><img class="slider-showcase__img" src="static/img/cart-showcase.jpg" alt="Producto sugerido">
                    <div class="slider-showcase__content">
                      <div class="rating">
                        <figure class="rating__stars"><img src="static/img/rating__stars-4.svg" alt="Valoración #1 en el rating"></figure>
                      </div>
                      <p class="slider-showcase__title">Cargador inalámbrico</p><a class="slider-showcase__link i-shopping-car btn" href="#" title="Agregar al carrito">Agregar al carrito</a>
                    </div>
                  </li>
                  <li class="slider-showcase__slot"><img class="slider-showcase__img" src="static/img/cart-showcase.jpg" alt="Producto sugerido">
                    <div class="slider-showcase__content">
                      <div class="rating">
                        <figure class="rating__stars"><img src="static/img/rating__stars-4.svg" alt="Valoración #1 en el rating"></figure>
                      </div>
                      <p class="slider-showcase__title">Cargador inalámbrico</p><a class="slider-showcase__link i-shopping-car btn" href="#" title="Agregar al carrito">Agregar al carrito</a>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="slider-showcase__controls">
                <button class="slider__arrow i-arrow-left prev"><span class="slider__arrow-txt">anterior</span></button>
                <button class="slider__arrow i-arrow-left next"><span class="slider__arrow-txt">siguiente</span></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!--footer Site-->
    <footer class="band_inner foot">
      <div class="foot__head"><img class="foot__img" src="static/img/brand-telefonica.svg" alt="Telefónica"></div>
      <div class="foot__cont">
        <ul class="foot__list">
          <li class="foot__title">
            <button class="js-footBtn js-footItemClose foot__btn i-a-arrow-right"> Sobre Movistar</button>
            <ul class="foot__sublist">
              <li class="foot__subitem"><a class="foot__link" href="#" title="Quienes somos">Quienes Somos</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Información para clientes">Información para clientes</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Aviso de privacidad">Aviso de privacidad</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Fundación telefónica">Fundación telefónica</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Personas con discapacida">Personas con discapacida</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Contrato de adhesión Móvil">Contrato de adhesión Móvil</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Dialogando">Dialogando</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Soluciones a empresas">Soluciones a empresas</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Atención a Clientes">Atención a Clientes</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Factura Electrónica">Factura Electrónica</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Soluciones a Empresas">Soluciones a Empresas</a></li>
            </ul>
          </li>
          <li class="foot__title">
            <button class="js-footBtn js-footItemClose foot__btn i-a-arrow-right">Teléfonos</button>
            <ul class="foot__sublist">
              <li class="foot__subitem"><a class="foot__link" href="#" title="Iphone X">Iphone X</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Samsung S9">Samsung S9</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Tienda en Línea">Tienda en Línea</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Accesorios">Accesorios</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="México">México</a></li>
            </ul>
          </li>
          <li class="foot__title">
            <button class="js-footBtn js-footItemClose foot__btn i-a-arrow-right">Planes</button>
            <ul class="foot__sublist">
              <li class="foot__subitem"><a class="foot__link" href="#" title="Cámbiate a Movistar">Cámbiate a Movistar</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Contrata un plan Movistar">Contrata un plan Movistar</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Quienes somos">Planes con equipo en México</a></li>
            </ul>
          </li>
          <li class="foot__title">
            <button class="js-footBtn js-footItemClose foot__btn i-a-arrow-right">Ayuda</button>
            <ul class="foot__sublist">
              <li class="foot__subitem"><a class="foot__link" href="#" title="Preguntas Frecuentes">Preguntas Frecuentes</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Centros de Atención">Centros de Atención</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Atención en línea">Atención en línea</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="¿Qué hacer si perdí mi celular?">¿Qué hacer si perdí mi celular?</a></li>
              <li class="foot__subitem"><a class="foot__link" href="#" title="Cobertura Movistar">Cobertura Movistar</a></li>
            </ul>
          </li>
          <li class="foot__title foot-ico__title"><strong class="foot-ico__txt">Síguenos en</strong>
            <ul class="foot__sublist foot-ico__list">
              <li class="foot-ico__item"><a class="foot-ico__link i-facebook-circle" href="#" title="Ir a Facebook">Facebook</a></li>
              <li class="foot-ico__item"><a class="foot-ico__link i-twitter-circle" href="#" title="Ir a Twitter">Twitter</a></li>
              <li class="foot-ico__item"><a class="foot-ico__link i-youtube-circle" href="#" title="Ir a YouTube">YouTube</a></li>
            </ul>
            <ul class="foot__sublist foot-logos__list">
              <li class="foot-logos__item">
                <figure class="foot-logos__group"><img class="foot-logos__img foot-logos__img_brand" src="static/img/logo-small.png" alt="Mi Movistar">
                  <figcaption class="foot-logos__caption">Descarga la App Mi Movistar</figcaption>
                </figure>
              </li>
              <li class="foot-logos__item foot-logos__item_inline"><a class="foot-logos__link" href="#" title="Descargar en App Store"><img class="foot-logos__img foot-logos__img_store" src="static/img/logo-store-1.png" alt="App Store"></a></li>
              <li class="foot-logos__item foot-logos__item_inline"><a class="foot-logos__link" href="#" title="Descargar en App Store"><img class="foot-logos__img foot-logos__img_store" src="static/img/logo-store-2.png" alt="Google Play"></a></li>
            </ul>
          </li>
        </ul>
        <ul class="foot__list foot-sponsors__list">
          <li class="foot-sponsors__item">
            <ul class="foot-sponsors__sublist">
              <li class="foot-sponsors__subitem"><span class="foot-sponsors__title">Patrocinador Oficial de la NFL</span>
                <div class="foot-sponsors__group"><img class="foot-sponsors__img" src="static/img/foot-logo-1.jpg" alt="Logo Movistar"><img class="foot-sponsors__img" src="static/img/foot-logo-2.jpg" alt="Logo Movistar"></div>
              </li>
              <li class="foot-sponsors__subitem"><span class="foot-sponsors__title">Patrocinador Oficial de la Selección Nacional de México</span>
                <div class="foot-sponsors__group"><img class="foot-sponsors__img" src="static/img/foot-logo-3.jpg" alt="Logo Movistar"><img class="foot-sponsors__img" src="static/img/foot-logo-1.jpg" alt="Logo Movistar"></div>
              </li>
            </ul>
          </li>
          <li class="foot-sponsors__item foot-sponsors__item_big">
            <ul class="foot-sponsors__sublist foot-sponsors__sublist_border">
              <li class="foot-sponsors__subitem"><img class="foot-sponsors__img" src="static/img/foot-logo-4.jpg" alt="Logo Movistar"><img class="foot-sponsors__img" src="static/img/foot-logo-5.jpg" alt="Logo Movistar"><img class="foot-sponsors__img" src="static/img/foot-logo-6.jpg" alt="Logo Movistar"><img class="foot-sponsors__img" src="static/img/foot-logo-7.jpg" alt="Logo Movistar"><img class="foot-sponsors__img" src="static/img/foot-logo-8.jpg" alt="Logo Movistar"><img class="foot-sponsors__img" src="static/img/foot-logo-9.jpg" alt="Logo Movistar"><img class="foot-sponsors__img" src="static/img/foot-logo-10.jpg" alt="Logo Movistar"></li>
            </ul>
          </li>
        </ul>
      </div>
    </footer>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
      window.jQuery || document.write('<script src="static/js/vendor/jquery-1.11.2.min.js"><\\/script>')
      
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
    <script src="static/js/vendor/sly.min.js"></script>
    <script src="static/js/vendor/slick.min.js"></script>
    <script src="static/js/vendor/jquery-asRange.js"></script>
    <script src="static/js/vendor/jquery.validate.min.js"></script>
    <script src="static/js/main.js"></script>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
    </script>
  </body>
</html>

maquetas/snippets/layout-02.pug
extends _template

block variables
  //- variables meta head
  -var varTitle       = 'Tienda Online de Celulares y Planes | Movistar Mexico'
  -var varDescription = 'Conoce las increíbles ofertas que tienen a Tienda en Línea Movistar para estrenar dos Smartphones con un muy buen precio. Cuenta con multiples opciones de pago, compra segura y promociones exclusivas.'
  -var varAuthor      = 'Movistar Mexico'
  //- variable para quitar todo el componente Breadcrumbs Menú
  - var checkout = true
  - var item = 3
  - var callTo = true
  - var uncarMenu = false

block content
  section.layout_section
    include block/_cart-steps

    .layout_inner
      .data
        .data__content
          h2.data__title Productos, Accesorios y Servicios
          p Contenido paso carrito



        .data__aside
          .data__aside-wrap
            .data__header
              h2.data__title Datos de compra
              p.data__subtitle Orden No. 1423274
            dl.data__list
              dt.data__term Iphone X
              dd.data__value $23.499
            dl.data__list
              dt.data__term SIM card
              dd.data__value $60
            dl.data__list
              dt.data__term Recarga
              dd.data__value $200
            dl.data__list
              dt.data__term Envío
              dd.data__value GRATIS
            dl.data__list
              dt.data__term Impuestos
              dd.data__value $2.300
            dl.data__list
              dt.data__term Descuento MX1 = 91
              dd.data__value - $2.300
            dl.data__list
              dt.data__term Descuento XCQAD
              dd.data__value - $2.300
            .data__form
              .input-search
                label.input-search__label
                  |Escribe tu código de descuento
                  small.txt_blue Puedes agregar más de un cupón
                input.input-search__input(type='search', placeholder='Ej: MX1=91')
                button.input-search__btn(type='submit') Aplicar
            dl.data__list.data__summary
              dt.data__term Total
              dd.data__total $28.350
            .data__actions
              button.btn.data_btn Ir a Pagar
      .data__info
        p.data__label Compra segura
        img(src="static/img/logos-compra_segura.png", alt="")


  include block/_cart-showcase
